.popup-form__close-button {
    padding: 0;
    background: none;
    background-image: url(../../../images/Close-Icon.svg);
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(310px, -330px);
    transition: opacity 1s linear;
}

.popup-form__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 779px) {
    .popup-form__close-button {
        transform: translate(220px, -45px)
    }
}